<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de Personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let usuario of usuarios | async" size-xl="2" size-lg ="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <ion-avatar>
              <img [src]= "usuario.avatar">
            </ion-avatar>
            <h1 class="tipo1">{{usuario.first_name}} {{usuario.last_name}}</h1>
            <p class="tipo3">Texto de relleno de la descripción de cada persona</p>
            <p class="tipo2"><b>Género: </b>{{usuario.gender}}</p>
            <p class="tipo2"><b>Email: </b>{{usuario.email}}</p>
            <p class="tipo2"><b>Direccion IP: </b>{{usuario.ip_address}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
